*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(99, 73, 123);
  position: relative;
}

h1{
  text-align: center;
  margin: 30px 0;
  color: rgb(35, 13, 55);
  font-size: 40px;
}

.addTask{
  text-align: center;
  height: 100px;
}


.btnInput{
  display: inline-block;
  margin-top: 50px;
} 

.addTask button{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  background-color: rgb(183, 157, 208);
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid rgb(26, 18, 33);
}


.zk{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 130px;
  background-color: rgb(160, 49, 80);
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid rgb(26, 18, 33);
}




